<a href="https://colab.research.google.com/github/aditya-0503/python-assignment/blob/main/assignment_loop.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
#1. Print numbers from 1 to 5 using a while loop.

In [ ]:
a = 1
while a <= 5:
  print (a)
  a += 1

1
2
3
4
5

In [ ]:
#2. Calculate the sum of numbers from 1 to 10 using a while loop.

In [ ]:
b = 1
sum = 0
while b <= 10:
  sum = sum + b
  print (sum)
  b = b + 1

1
3
6
10
15
21
28
36
45
55

In [ ]:
#3. Calculate the factorial of a number using a for loop.

In [ ]:
n = int (input("enter a number"))
factorial = 1
if n >= 1:
  for i in range (1,n+1):
    factorial *= i
print("the factorial of the number is", factorial)

enter a number6
the factorial of the number is 720

In [1]:
#4. Count the number of vowels in a string using a for loop.

In [3]:
string = input('Enter the string')
count = 0
for i in string:
  if i == 'a' or i =='e' or i =='i' or i =='o' or i =='u' or i == 'A' or i =='E' or i =='I' or i =='O' or i =='U':
    count += 1
if count == 0:
  print('no vowels found')
else:
  print('total no of vowels are', count)

Enter the stringADItya
total no of vowels are 3

In [4]:
#5. Print a pattern using nested loops.

In [6]:
row = 5

for i in range(1, row + 1):
    for j in range(1, i + 1):
        print("*",end = "")
    print()

*
**
***
****
*****

In [7]:
#6. Generate a multiplication table using nested loops.

In [26]:
n = int(input('enter a number'))
for i in range (1,11):
      print ( n*i)

enter a number99
99
198
297
396
495
594
693
792
891
990